<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.xknove">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="XBrain"
        android:roundIcon="@mipmap/logo2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XKnove">
        <activity android:name=".output"></activity>
        <activity android:name=".input" />
        <activity android:name=".ai" />
        <activity android:name=".friends" />
        <activity android:name=".general2" />
        <activity android:name=".peoples" />
        <activity android:name=".assistant2" />
        <activity android:name=".Progress" />
        <activity android:name=".network" />
        <activity android:name=".hello">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".addtask" />
        <activity android:name=".home" />
        <activity android:name=".notes" />
        <activity android:name=".chat" />
        <activity android:name=".newlogin" />
        <activity android:name=".more" />
        <activity android:name=".forum" />
        <activity android:name=".userprofile" />
        <activity android:name=".people" />
        <activity android:name=".aitask" />
        <activity android:name=".assistant" />
        <activity android:name=".MainActivity" />
        <activity android:name=".reg" />
    </application>

</manifest>